.button {
  border: none;
  margin-block: 0.5rem;
  background-color: var(--color-orange);
  color: var(--color-grey-dark);
  text-transform: uppercase;
  font-weight: var(--fw-700);
  font-size: 1.4rem;
  width: 100%;
  border-radius: 99rem;
  letter-spacing: 0.25rem;
  padding-block: 1.3rem;
  transition: background-color 200ms;
}
.reset-btn {
  text-transform: none;
  letter-spacing: normal;
}

.button:hover {
  background-color: var(--color-white);
}

.button:disabled {
  background-color: var(--color-orange-light);
  cursor: not-allowed;
}
